RewriteEngine on

RewriteCond %{request_filename} -f

RewriteRule ^(.*) 													$1															[L]
RewriteRule ^(([^/]*)+)?$											index.php?page=$1											[L] 

RewriteRule ^introduction/?$										index.php?page=introduction									[NC] 
RewriteRule ^introduction/logout/([^/]+)/?$							index.php?page=introduction&logout=$1						[NC] 
RewriteRule ^homepage/?$											index.php?page=homepage										[NC] 
RewriteRule ^homepage/archive/([^/]+)/?$							index.php?page=homepage&archive=$1							[NC] 
RewriteRule ^homepage/archive/([^/]+)/data/([^/]+)?$				index.php?page=homepage&archive=$1&data=$2					[NC] 
RewriteRule ^homepage/archive/([^/]+)/data/([^/]+)/page/([^/]+)?$	index.php?page=homepage&archive=$1&data=$2&pagination=$3	[NC] 
RewriteRule ^homepage/pagination/([^/]+)?$							index.php?page=homepage&pagination=$1						[NC] 

RewriteRule ^offline/?$												index.php?page=offline										[NC]

RewriteRule ^post/?$												index.php?page=post											[NC] 
RewriteRule ^post/([^/]+)/?$										index.php?page=post&post_id=$1								[NC] 

RewriteRule ^profile/?$												index.php?page=profile										[NC] 
RewriteRule ^profile/update/([^/]+)/?$								index.php?page=profile&update=$1							[NC] 
RewriteRule ^profile/([^/]+)/?$										index.php?page=profile&id=$1								[NC] 

RewriteRule ^static/?$												index.php?page=static										[NC] 
RewriteRule ^static/([^/]+)/?$										index.php?page=static&view=$1								[NC] 

RewriteRule ^events/?$												index.php?page=events 										[NC] 
RewriteRule ^events/([^/]+)/?$										index.php?page=events&view=$1								[NC] 

RewriteRule ^listing/?$												index.php?page=listing										[NC] 
RewriteRule ^listing/sort/([^/]+)/?$								index.php?page=listing&sorting=$1							[NC] 
RewriteRule ^listing/sort/([^/]+)/([^/]+)?$							index.php?page=listing&sorting=$1&type=$2					[NC] 

RewriteRule ^moderate/?$											index.php?page=moderate										[NC] 
RewriteRule ^moderate/([^/]+)/?$									index.php?page=moderate&view=$1								[NC]  
RewriteRule ^moderate/([^/]+)/([^/]+)?$								index.php?page=moderate&view=$1&post_id=$2					[NC] 
RewriteRule ^moderate/([^/]+)/page/([^/]+)?$						index.php?page=moderate&view=$1&pagination=$2				[NC]  
